.input-container {
    position: relative;
    padding: 2rem 0 2rem 0;

    .input {
        padding-right: 30px;
        font-size: 20px;
    }

    .clear {
        position: absolute;
        transform: translateX(-100%) translateY(20%);
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
}