$primary-color: #222f3e;
$secondary-color: #0984e3;
$dark-background: #222f3e;
$white: #ffffff;
$light-background: #fafafa;
$text-muted: #777777;
$border-light: #dfe6e9;
$text-dark: #000000;
$text-secondary: #576574;
$accent-color: #D5440B;